@use "./utils/variables";
@use "./utils/components/header";
@use "./utils/components/modal";
@use "./utils/components/form";
@use "./utils/components/cardsbusiness";
@use "./utils/components/cardspeople";
@use "./utils/components/values";
@use "./utils/components/buttons";
@use "./utils/components/clients";
@use "./utils/components/footer";
@use "./utils/components/mobilefirst";
@use "./utils/components/mobilemenu";



*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  font-family: "Roboto", sans-serif;
  font-family: 'Raleway', sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


a{
  text-decoration: none;
}


.container {
  max-width: 1200px;
  margin:auto;
}














