@use "./utils/components/variables";
@use "./utils/components/header";
@use "./utils/components/modal";
@use "./utils/components/form";
@use "./utils/components/cardsbusiness";
@use "./utils/components/cardspeople";
@use "./utils/components/values";
@use "./utils/components/buttons";
@use "./utils/components/clients";
@use "utils/components/footer";


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 128px;
  left: 576px;
  top: 186px;
  border-radius: 4px;
  border: none;
  background: #f5f4fa;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background-color: blue-variant;
    color: white-color;
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }
}

ul {
  list-style: none;
}



