@use 'variables';


@mixin button-letter {
  font-family: variables.$font-gral;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  background: #212121;
}

.buttons__btn {
  @include button-letter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 128px;
  left: 576px;
  top: 186px;
  border-radius: 4px;
  border: none;
  background: #f5f4fa;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background-color:variables.$blue-variant;
    color: variables.$white-color;
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 186px;
  gap: 8px;
}
