// Elementos del footer
@import "../variables";

@mixin footer-findLetter {
  font-family: $font-gral;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

@mixin footer-placetext {
  font-family: $font-gral;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

@mixin footer-buttonText {
  font-family: $font-gral;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.footer {
  height: 252px;
  width: 100%;
  left: 0px;
  top: 1628px;
  border-radius: 0px;
  background-color: $background-footer;
  &__find {
    @include footer-findLetter;
    height: 16px;
    width: 136px;
    left: 516px;
    top: 1703px;
    margin-left: 156px;
    margin-top: -12px;
    color: $white-color;
  }
  &__logo {
    height: 31px;
    width: 145px;
    left: 215px;
    top: 2739px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $blue-variant;
    padding-top: 60px;
    margin-left: 215px;
  }
}

.footer-address {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 170px;
  @include footer-placetext;
  &__place--color {
    color: $white-color;
  }
  &__info--color {
    color: #ffffff99;
  }
}

.footer-iconsrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 156px;
  &__icon {
    height: 44px;
    width: 44px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $white-color;
    margin-right: 10px;
  }
  &__icon:hover {
    cursor: pointer;
    background-color: $blue-variant;
  }
}

.footer-suscription {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 830px;
  margin-top: -12px;
  &__input {
    position: relative;
    height: 50px;
    width: 358px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff99;
    background: #2f303a;
    border: 1px solid #ffffff4d;
    padding-left: 16px;
    cursor: pointer;
  }
  &__label {
    font-family: $font-gral;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    position: relative;
    height: 16px;
    width: 275px;
    color: $white-color;
    text-decoration: none;
    margin-bottom: 20px;
  }
}



.footer-suscription-button {
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 50px;
  margin-left: 370px;
  margin-top: -50px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border-style: none;
  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }
  
  &__text {
    @include footer-buttonText;
    height: 30px;
    width: 89px;
  }
  &:hover{
    cursor: pointer;
    background-color: $blue-variant;
    color:$white-color;
    fill: $white-color;
  }
}

.footlogocolor {
  color:$white-color;
}