// Elementos del footer
@import "../variables";

// footer {
//   margin: auto;

//   padding: 0;
// }

@mixin footer-findLetter {
  font-family: $font-gral;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

@mixin footer-placetext {
  font-family: $font-gral;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

@mixin footer-buttonText {
  font-family: $font-gral;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.footer-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 9em;
  height: auto;
  width: 100%;
  left: 0px;
  top: 1628px;
  border-radius: 0px;
  background-color: $background-footer;
  &__block1 {
    // float:left;
  }
  &__logo {
    height: 31px;
    width: 145px;
    left: 215px;
    top: 2739px;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: $blue-variant;
  }
  &__findblock {
    margin-top: -4em;
    
  }
  &__find {
    @include footer-findLetter;
    height: 16px;
    width: 136px;
    left: 516px;
    top: 2751px;
    color: $white-color;
    
  }

  
}



.footer-address {
  list-style: none;
  @include footer-placetext;
  &__place--color {
    color: $white-color;
  }
  &__info--color {
    color: #ffffff99;
  }
}

.footer-iconsrow {
  &__icon {
    height: 44px;
    width: 44px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $white-color; 
    &:hover{
      cursor: pointer;
      background-color: $blue-variant;
    } 
  }
}

.footer-suscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.5em;
  &__label{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    position: relative;
    height: 16px;
    width: 275px;
    color: white;
    text-decoration: none;
    margin-bottom: 1.5em;
    }
  &__input{
    position: relative;
    height: 50px;
    width: 358px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    // margin-top: -2em;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3019607843);
    padding-left: 16px;
    cursor: pointer;
  }
  &__block{
     .button {
      position: relative;
      top: 0px;
      left: 0px;
      width: 200px;
      height: 50px;
      margin-left: 370px;
      margin-top: -50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border-style: none;
      &:hover{
        cursor: pointer;
        background-color: #2196f3;
        color: white;
        fill: white;
        }
     }
    .text{
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.06em;
      text-align: center;
      height: 30px;
      width: 89px;
      }
    .icon{
        width: 24px;
        height: 24px;
        margin-left: 20px;
      }
    
  }
}



.footlogocolor {
  color: $white-color;
}
