// -------------------------Encabezado
@import "../variables";

header {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------------Títulos,párrafos*/

/*------------------------------------------Encabezado*/

nav {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 600px;
}

.nav__logo {
  height: 31px;
  width: 145px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color:$blue-variant;
  margin-left: -60px;
}

@mixin header-letter($width, $left, $marginright) {
  height: 16px;
  width: $width;
  left: $left;
  top: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: $marginright;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: $color-header-letter;
}

.nav__word1 {
  @include header-letter(49px, 453px, 37.5px);
}

.nav__word2 {
  @include header-letter(65px, 552px, 46.5px);
}

.nav__word3 {
  @include header-letter(67px, 667px, 0px);
}

.nav__word1:hover {
  cursor: pointer;
  color: $blue-variant;
}


.nav__word2:hover {
  cursor: pointer;
  color: $blue-variant;
}

@mixin underline-format{
  content: "";
  width: 48px;
  height: 4px;
  margin-top: -4px;
  display: block;
  background-color: $blue-variant;
  transition: transform 1s;
}

.nav__underlinetoright{
  @include underline-format;
  margin-left:-140px; 
  
}

.nav__box:hover .nav__underlinetoright {
  transform: translateX(147px);
}

.nav__underlinetoleft {
  @include underline-format;
  transform:translateX(147px);
  
}

.nav__box:hover .nav__underlinetoleft {
  cursor: pointer;
  transform: translateX(0px);
}

.nav__link {
  text-decoration: none;
}


.nav__word3:hover {
  color: $blue-variant;
}

.header-left{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 265px;
  gap:30px;
}

.header-left__iconemail{
  height: 12px;
  width: 16px;
  left: 1048px;
  top: 34px;
  border-radius: 0px;
}

.header-left__email {
  @include header-letter(135px, 1078px, 0px);
}


.header-left__icontel {
  height: 15px;
  width: 20px;
  left: 1243px;
  top: 32px;
  border-radius: 0px;
}

.header-left__tel {
  @include header-letter(118px, 1263px, 0px);
}

.header-left__box:hover * {
  fill:$blue-variant;
  color:$blue-variant;
}