@import "../variables";

@media (max-width: 480px) {
  header {
    display: block;
  }

  .nav__logo {
    margin-left: 15px;
  }

  .navbar {
    display: none;
  }

  .valuecards {
    flex-direction: column;
  }
  .cards {
    height: 2761px;
    width: 480px;
    left: 0px;
    top: 1574px;
    border-radius: 0px;
    &__title{
      margin-top: 26px;
      margin-bottom: 30px;
    }
    &__people {
      margin-top: 330px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    &__card {
      height: auto;
      width: auto;
      left: 15px;
      // top: 1697px;
      border-radius: [object Object]px;  
    }
  }

  .images {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 32px;
  background-color: $white-color;
  z-index: 999;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  // color: black;
}

.link:hover {
  cursor: pointer;
  color: $blue-variant;
}
