@import "../variables";

//------------------------Media queries para 480px

@media screen and (max-width: 480px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  header {
    display: block;
  }

  .nav__logo {
    margin-left: 15px;
  }

  .navbar {
    display: none;
  }

  .valuecards {
    margin-top: -165px;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin-left: -120px;
  }

  .cards {
    height: 2761px;
    width: 480px;
    left: 0px;
    top: 1574px;
    border-radius: 0px;
    &__title {
      margin-top: 26px;
      margin-bottom: 30px;
    }
    &__people {
      margin-top: 330px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    &__card {
      height: auto;
      width: auto;
      left: 15px;
      // top: 1697px;
      border-radius: [object Object]px;
    }
  }

  .images {
    display: none;
  }

  .footer {
    max-width: 480px;
    margin: 0;
    padding: 0;
    height: 603px;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    &__logo {
      margin-left: 116px;
    }
    &__find {
      margin-left: -170px;
      margin-top: 186px;
    }
  }

  .footer-address {
    margin-left: 50px;
    text-align: center;
  }

  .footer-iconsrow {
    margin-left: -204px;
  }

  .footer-findblock {
    text-align: center;
  }

  .footer-suscription {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 280px;
    margin-left: -141px;
    &__label {
      margin-top: 10px;
      margin-left: 134px;
    }
    &__input {
      margin-top: 10px;
      margin-left: 105px;
    }
  }

  .footer-suscription-button {
    margin-top: 9px;
    margin-left: 163px;
  }

  .menu-toggle {
    display: block;
  }

  .container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  // .cardsrow {
  //   display:flex; 
  //   flex-direction: columns;
  //   justify-content: space-evenly;
  //   align-items: center;
  //   // justify-content: center;
  //   // align-items: center;
  // }

  .buttons {
    flex-direction: column;
    margin-top: 60px;
    &__row1{
      margin-left:-60px;
    }
    &__row2{
     margin-left:-196px; 
    }
  }


}
//-------Bloques y elementos por fuera del media query

.menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-left: -50px;
  margin-top: 64px;
  &__net {
    height: 22px;
    width: 85px;
    left: 40px;
    top: 726px;
    font-family: $font-gral;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $blue-variant;
  }
  &__bar {
      color: $gray-variant;
    }
  }


.mobile-menu .link {
  height: 22px;
  width: 85px;
  left: 40px;
  top: 726px;
  font-family: $font-gral;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 30px;
  display: block;
}



.mobile-menu .active{
  color:$blue-variant;
}

.mobile-menu .w3 {
  margin-bottom: 302px;
}

.mobile-menu .w4 {
  width: 165px;
  text-align: justify;
  text-decoration: none;
  color: $blue-variant;
}

.mobile-menu .w5 {
  text-decoration: none;
  color: $gray-variant;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $white-color;
  z-index: 999;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  color: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
}

.link:hover {
  cursor: pointer;
  color: $blue-variant;
}

@media (min-width: 481px) {
  .menu-toggle {
    display: none;
  }
}