@import "../variables";


//-----------------------Media queries para 768px

@media screen and (min-width: 768px) and (max-width: 1024px) {

//-------------------------Header
.nav__logo{
  margin-left: 15px; 
}

.nav {
margin:0 100px 0 -100px;
padding:0;
width: calc(100vw / 3);
&__underlinetoright{
  transform: translateX(85px);
  }
  &__underlinetoleft{
    transform: translateX(85px);
    }
}

.header-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:5px;
  margin: 0 100px 0 -30px;
}

//BACKGROUND

.box{
  margin: 0 auto 60px auto;
  padding: 0;
  width: 100vw;
  height: (100vw / 2);
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  
  &__button{
    width: auto;
    font-size: calc(100vw/50);
    line-height: 30px;
  }
  &__title{
    width: auto;
    font-size: calc(100vw/25);
    line-height: 30px;
  }
}

//MODAL WINDOW

.modal {  
  position: fixed;
  top: 20px;
  left: 159px;
  max-width: calc(100vw / 1.09);    
}

//VALUES 

.valuecards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;
  margin-left: calc(100vw/10);
  margin-right: calc(100vw/10);
  &__icon {
    width: clamp(50vw, calc(100vw / 2), 100vw);
    
  }
  &__valuecard{
   align-items: center;
  }
}

.articles{
  &__h2 {
    text-align: center;
  }
  &__p {
    text-align:justify;
  }
}

.images{
  display:none;
}

//PEOPLE

.cards{
  margin-top:calc(-100vh * 0.05);
  width: auto;
  height: 100%;
  padding:15px;
  &__people{
    border:solid 2px blue;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px; 
  }
  &__card{
    // width: auto;
    // height: auto;
  }
}

//CLIENTS

.clients__title{
  margin-top: calc(100vh * 0.3);
}

.clients-icons{
  margin:30px 15px 60px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:15px;
}

.mobile-menu{
  display:none; 
}

//BUSINESS CARDS 
.cardsrow {
  width: calc(100vw - 60px);
  margin: 30px -20px 60px 15px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 10px;
  // gap: 30px;
  border: solid 2px blue;
}

.buttons{
  margin-top:60px;
}

//FOOTER

footer {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

// .footer__block1, .footer__findblock, .footer-suscription {
//   width: 100%;
//   text-align: center;
// }

  .footer__block1, .footer__findblock, .footer-suscription {
    width: 30%;
  }
}

//------------------------Media queries para 480px

@media screen and (max-width: 480px) {

  header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //header
  .nav__logo {
    animation: pause;
    margin:0 auto; 
    left: 15px;
  }

  .box{
    margin: 0 auto 60px auto;
    padding: 0;
    width: 100vw;
    height: (100vw / 2);
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    
    &__button{
      width: auto;
      font-size: calc(100vw/25);
      line-height: 30px;
    }
    &__title{
      width: auto;
      font-size: calc(100vw/25);
      line-height: 30px;
    }
  }


  //ventana modal

  .modal{
    
    position: fixed;
    top: 20px;
    left: 15px;
    max-width: calc(100vw / 1.09);    
  }

  .boxform {
    padding: 28px;
    margin: 0 auto; 
    &__data {
      width: calc(100vw / 1.2);
    }
    &__textarea {
      width: calc(100vw / 1.2);
    }
    &__closeicon {
      position: absolute;
      left: calc(100vw / 1.2);
      }
  }
  
  .navbar{
    padding:0;
    display: none;
  }

  //menu del header responsive 
  .menu-toggle {
    position: absolute;
    right:0;
    display: block;
    border:solid 2px blue;
  }

  .mobile-menu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .menu-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  //----------------------valores

  .valuecards {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    place-content: center;
    &__icon {
      width: auto; 
      margin:0 auto;
    }
  }

  .images{
    display: none;
  }

  //TALENTO HUMANO 

  .cards{
    width: auto;
    height: 100%;
    // margin: auto auto auto 2%;
    padding: 15%;
    &__title{
      margin: -2% auto 10% 0;
    }
      
    &__people{
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:30px; 
    }
    }
  
.cards-card{
  width: calc((100% * 1.4) - 10%);
  height: auto; 
} 

.imgperson{
  width: 100%;
  height: auto;
}
 //botones del portafolio 
  .buttons {
    width: calc(100vw/10);
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(21px, auto);
  }

  //ventanas negocios portafolio 
  .cardsrow{
    margin: 10% 5% 20% 5%;
  }

  //iconos de clientes index
.clients{
  margin: 30% 5% 10% 20%;
  justify-content: center;
  align-items: center;
  
  &__title{
   margin:(10% 10% 20% -10%);
}
}

  .clients-icons{
    width: calc(100vw/10);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }


  //-----------footer-----------

  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap:10%;
  }
  
  // .footer__block1, .footer__findblock, .footer-suscription {
  //   width: 100%;
  //   text-align: center;
  // }
  
    .footer__block1, .footer__findblock, .footer-suscription {
      width: 33%;
      text-align: center;
    }





}
//-------Bloques y elementos por fuera del media query

@media screen and (min-width: 481px) {
  .menu-toggle {
    display: none;
  }
}

.icon-open:hover{
  cursor:pointer;
}

.icon-close:hover{
  cursor:pointer;
  fill:$blue-variant;
  color:$white-color;
}

.menu-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap:inherit;
  width: (100vw / 1.2);
  
  &__net {
    // justify-content: space-evenly;
    height: 22px;
    width: 85px;
    left: 0;
    top: 726px;
    font-family: $font-gral;
    font-size: calc(100vw/25);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $blue-variant;
    margin-left:1px;
  }
  &__bar {
    font-size: calc(100vw/22);
    color: $gray-variant;
    padding:calc(100vw/60);
    }
  }


.mobile-menu .link {
  height: 22px;
  width: 85px;
  left: 40px;
  top: 726px;
  font-family: $font-gral;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 30px;
  display: block;
}

.mobile-menu .active{
  color:$blue-variant;
}

.mobile-menu .w3 {
  margin-bottom: 302px;
}

.mobile-menu .w4 {
  width: 165px;
  text-align: justify;
  text-decoration: none;
  color: $blue-variant;
}

.mobile-menu .w5 {
  text-decoration: none;
  color: $gray-variant;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $white-color;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
  z-index:999;
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  color: black;
}

.mobile-menu {
  
  padding: 0;
  margin-top: 40px;
  }


.link:hover {
  cursor: pointer;
  color: $blue-variant;
}

