.valuecards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  &__icon {
    height: 120px;
    width: 270px;
    left: 206px;
    top: 769px;
    border-radius: 4px;
    background: #f5f4fa;
  }
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  margin-bottom: 99px;
  &__h2 {
    height: 16px;
    width: 270px;
    left: 206px;
    top: 919px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
  }
  &__p {
    height: 75px;
    width: 270px;
    left: 815px;
    top: 801px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.images {
  margin-bottom: 94px;
  text-align: center;
  &__h2 {
      height: 42px;
      width: auto;
      left: 669px;
      top: 1604px;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0.03em;
      padding-top: 94px;
      padding-bottom: 50px;
    }
  &__card {
    display: flex;
    flex-direction: column;
  }
  &__margin {
    margin-right: 20px;
  }
  &__row {
    display: flex;
    justify-content: center;
  }
  &__title {
    height: 70px;
    width: 370px;
    border-radius: 0px;
    background: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -70px;
  }
}
