// -------Valores
@import "../variables";

.valuecards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  &__icon {
    height: 120px;
    width: 270px;
    left: 206px;
    top: 769px;
    border-radius: 4px;
    background: #f5f4fa;
  }
  &__valuecard{
    flex-direction: column;
  }
}

.articles{
  &__h2 {
    height: 16px;
    width: 270px;
    left: 215px;
    top: 924px;
    font-family: $font-gral;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center; 
    color: #212121;
  }
  &__p {
    height: 75px;
    width: 270px;
    left: 515px;
    top: 950px;
    font-family: $font-gral;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align:justify;
    color: #757575;
  }
}

.images {
  margin-bottom: 94px;
  text-align: center;
  &__h2 {
    height: 42px;
    width: auto;
    left: 669px;
    top: 1604px;
    font-family: $font-gral;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
  }
  &__card {
    display: flex;
    flex-direction: column;
  }
  &__margin {
    margin-right: 20px;
  }
  &__row {
    display: flex;
    justify-content: center;
  }
  &__title {
    height: 70px;
    width: 370px;
    border-radius: 0px;
    background: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -70px;
    font-family: $font-gral;
  }
}
