$blue-variant: #2196f3;
$white-color: white;
$color-etiqueta-form: #757575;
$color-border-input: #21212133;
$background-footer: #2f303a;
$font-gral: Roboto;
$fontweight: 500;
$color-header-letter:#212121;










